@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #414145;
}
button{
    margin-top: 2em;
}
button:hover{
    color:ghostwhite;
    background-color: black;
}

header{
    background-color: ghostwhite;
}
.card{
    margin-top: 2em;
    width: 70%;
    height: ;
    background-color: #8287e0;
    color:ghostwhite;

}
main >p {
    border-radius: content-box;
}
.card>p{
    font-size:2em;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;

}

#copyright{
    text-align: center;
    color: ghostwhite;
    margin-top:10px;
    font-size: .5em;
}

@media (max-width: 576px){
    header > h1{
        font-size: 1em;
    }
    main >p {
        border-radius: content-box;
    }
}